    html {
            box-sizing: border-box;
            scroll-behavior: smooth;
        }
        
        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }
        
        #pimg {
            width: 400px;
            overflow: hidden;
        }
        
        #pimg img {
            width: 100%;
            border-radius: 15px;
        }
        
        .columna {
            float: left;
            width: 33.3%;
            margin-bottom: 16px;
            padding: 0 8px;
        }
        
        .carda {
            box-shadow: 2px 2px 5px black;
            border: 2px solid orange;
            border-radius: 25px;
             
        }
        
        #dropdown {
            padding: 7px;
            border: 1px solid orange;
            width: 90%;
            border-radius: 7px;
            margin-bottom: 8px;
            position: relative;
        }
        
        #dropdown a {
            padding: 7px;
            border: 1px solid orange;
            border-radius: 8px;
            margin: 8px;
            float: left;
        }
        
        #dropdown a:hover {
            border: 2px solid green;
        }
        
        #dropdown-content {
            display: none;
            position: static;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            padding: 12px 16px;
            z-index: 1;
        }
        
        #dropdown:hover #dropdown-content {
            display: block;
        }
        
        #getlatlong {
            padding: 7px;
            border: 1px solid orange;
            border-radius: 5px;
            margin: 3px;
            float: left;
        }
        
        #getlatlong:hover {
            border: 2px solid green;
            padding: 5px
        }
        /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
        
        @media screen and (max-width: 450px) {
            .sidenava {
                padding-top: 15px;
            }
            .sidenava a {
                font-size: 18px;
                animation-name: fadeInRight;
            }
            .sidenava a:hover {
                animation-name: fadeOutRight;
            }
            .columna {
                float: left;
                width: 100%;
                margin-bottom: 10px;
                padding: 0 8px;
            }
        }
        /* Some left and right padding inside the container */
        
        .containera {
            padding: 0 16px;
        }
        /* Clear floats */
        
        .containera::after,
        .row::after {
            content: "";
            clear: both;
            display: table;
        }
        
        .imgbtn img {
            width: 62px;
            height: 62px;
            border-radius: 50%;
            padding: 4px;
            background-color: #668cff;
        }
        
        .imgbtn:hover img {
            width: 72px;
            height: 72px;
            background-color: #1aff1a;
        }
        
        .imgbtn1 img {
            width: 62px;
            height: 62px;
            border-radius: 50%;
            padding: 4px;
            background-color: #1ad1ff;
            animation-name: fadeIn;
            animation-duration: 5s;
        }
        
        .imgbtn1:hover img {
            width: 72px;
            height: 72px;
            background-color: #00ffaa;
            animation-name: fadeOut;
            animation-duration: 2s;
        }
        
        .imgbtn2 img {
            width: 62px;
            height: 62px;
            border-radius: 50%;
            padding: 4px;
            background-color: #3333ff;
            animation-name: fadeOutUp;
            animation-duration: 2s;
        }
        
        .imgbtn2:hover img {
            width: 72px;
            height: 72px;
            background-color: #ffff1a;
            animation-name: fadeOutUp;
            animation-duration: 2s;
        }
        
        .lang {
            background-color: orange;
            border-radius: 15px;
        }
/* Create two equal columns that floats next to each other */
#cl-2 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}
#cl-img {
  float: left;
  width: 35%;  
}
#cl-ce {
  float: left;
  width: 25%;
  padding: 10px;
  margin-left: 25px;
  
}
#cl-la {
  float: left;
  width: 30%;
  padding: 10px;
  margin-left: 25px;
  
}
#cl-3 {
  float: left;
  width: 30%;
  padding: 10px;
  margin-left: 25px;
 
}
#cl-4 {
  float: left;
  width: 25%;
  padding: 10px;
  
}
#cl-5 {
  float: left;
  width: 20%;
  padding: 10px;
 
}
#cl-t1 {
  float: left;
  width: 20%;
  padding: 20px;
  height: 80px; /* Should be removed. Only for demonstration */
}
#cl-t2 {
  float: left;
  width: 80%;
  height: 80px; /* Should be removed. Only for demonstration */
}
#cl-t2 h4 {
   text-align: center;
   font-size: 40px; 
   
   padding: 10px;
}
/* Clear floats after the columns */
#rw:after {
  content: "";
  display: table;
  clear: both;
}
#main {
  transition: margin-left .5s;
  padding: 20px;
}
 #wind1 {
          position: fixed;
          bottom: 85%;
          left:80%;
          border-radius: 50%;
    }
 
  #wind2 {
          position: fixed;
          bottom:85%;
          left:85%;
          border-radius: 50%;
   }
 #wind3 {
          position: fixed;
          bottom:85%;
          left:90%;
          border-radius: 50%;
   }
 #wind3 a {
  border-radius: 50%;
}
@media screen and (max-width: 650px) {
html {
  scroll-behavior: smooth;
}
  #cl-img {
  width: 100%;
}
  #cl-ce {
  float: left;
  width: 100%;
  padding: 10px;
  margin-left: 10px;
  
}
#cl-ls {
  float: left;
  width: 100%;
  padding: 10px;
  margin-left: 10px;
}
  #cl-3 {
  float: left;
  width: 100%;
  padding: 10px;
  margin-left: 25px;
}
  #cl-t1 {
  float: left;
  width: 100%;
  padding: 20px;
  height: 40px; /* Should be removed. Only for demonstration */
}
#cl-t2 {
  float: left;
  width: 100%;
  height: 40px; /* Should be removed. Only for demonstration */
}
#cl-t2 h4 {
   text-align: center;
   font-size: 20px; 
   font-family: cursive; 
   padding: 5px;
}
  .glow {
  font-size: 10px;
  color: #fff;
  font-family: cursive;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
   padding-top: 5px;
   padding-bottom: 5px;
}
.col-3 {
   width:100%;
   border-radius: 50%;
}
  .col-2 {
   width:100%;
   border-radius: 50%;
  }
 #wind1 {
          position: fixed;
          bottom: 70%;
          left:80%;
          border-radius: 50%;
    }
 #main {
  transition: margin-left .5s;
  padding: 20px;
}
  #wind2 {
          position: fixed;
          bottom:80%;
          left:80%;
          border-radius: 50%;
   }
 #wind3 {
          position: fixed;
          bottom:90%;
          left:80%;
          border-radius: 50%;
   }
 #wind3 a {
  border-radius: 50%;
}
}
 #boxb {
   border-style: solid; 
   border-color: #0099ff;  
   border-width: 2px; 
   border-radius: 25px; 
   padding: 5px;
   }


